*{
  margin:0px;
  padding: 0px;
}
/* .wrapper,.charts-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width:93vw;
  height:90vh;
  background-size: contain;
  border: 2px solid black;
}
.charts-wrapper{
  width:92%;
  justify-content: space-between;
  height: auto;
  padding: 2rem;
  border-radius:0.5rem;
  box-shadow: var(--shadow);
  margin: 2rem;
} */

.wrapper, .charts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust to 100% to fit within the viewport */
  height: 90vh;
  background-size: contain;
  border: 2px solid black;
}

.charts-wrapper {
  width: 92%;
  justify-content: space-between;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin: 2rem;
}